<div class="h-[100vh]">
  <div class="h-[calc(100%-140px)] relative">
    <div
      class="absolute z-[1] top-0 left-0 text-[50px] h-[100%] w-full flex items-center font-bold text-white bg-black opacity-60 py-[20px] px-[50px]"
    >
      <div class="ml-[300px]">
        <div
          class="bg-white text-[18px] text-[black] px-[20px] py-[5px] w-[170px]"
        >
          Tronto, <span class="text-orange-600">Canada</span>
        </div>
        <div>
          HURRY! <br />
          GET THE BEST <br />
          VILLA FOR YOU <br />
        </div>
      </div>
    </div>
    <img
      class="w-full h-full"
      src="https://pixabay.com/get/g9d10ae70049579dd73fea6904621a845a24baf3e99dbd3f58703f7b81f3c10f0d7f02dbf9339477ab290a8213fbc5ae577c30ac42f5a3539f163138dffa8621e_1920.jpg"
      alt="hero image"
    />
  </div>
</div>
