<div class="outer-container flex gap-[30px]">
  <div class="w-[30%] relative">
    <img src="../../../../assets/hero1.jpg" alt="featured_image" />
    <img
      src="../../../../assets/featured-icon.png"
      class="bg-orange-600 p-3 rounded-full absolute left-[-25px] bottom-[-25px]"
      alt="featured_image"
    />
  </div>
  <div class="w-[40%] flex flex-col gap-[20px]">
    <div class="flex gap-[10px] font-semibold text-orange-600">
      <div class="border-r-[3px] border-orange-600 rounded"></div>
      FEATURED
    </div>
    <div class="text-[40px] font-bold">Best Apartment <br />& Sea View</div>
    <div
      class="bg-gray-100 p-[12px] px-[18px] flex flex-col gap-[6px] rounded-sm"
    >
      <div class="text-orange-600 font-bold">Best Useful Links ?</div>
      <hr />
      <div class="font-semibold text-gray-600">
        Get the Villa! Make the Dream Yours Now.
      </div>
      <div class="font-semibold text-gray-600">How does it work?</div>
      <div class="font-semibold text-gray-600">Why is AgeVilla the best?</div>
    </div>
  </div>
  <div
    class="w-[30%] flex flex-col shadow-sm shadow-gray-400 p-[30px] rounded-lg gap-[25px]"
  >
    <div class="flex gap-[25px] items-center">
      <img src="../../../../assets/icon1.png" alt="icon" />
      <div class="flex flex-col">
        <span class="font-semibold">250 m<sup>2</sup></span>
        <span class="font-semibold text-gray-400">Total Flat Space</span>
      </div>
    </div>
    <hr />
    <div class="flex gap-[25px] items-center">
      <img src="../../../../assets/icon2.png" alt="icon" />
      <div class="flex flex-col">
        <span class="font-semibold">Contract</span>
        <span class="font-semibold text-gray-400">Contract Ready</span>
      </div>
    </div>
    <hr />
    <div class="flex gap-[25px] items-center">
      <img src="../../../../assets/icon3.png" alt="icon" />
      <div class="flex flex-col">
        <span class="font-semibold">Payment</span>
        <span class="font-semibold text-gray-400">Payment Process</span>
      </div>
    </div>
    <hr />
    <div class="flex gap-[25px] items-center">
      <img src="../../../../assets/icon4.png" alt="icon" />
      <div class="flex flex-col">
        <span class="font-semibold">Safety</span>
        <span class="font-semibold text-gray-400">24/7 Under Control</span>
      </div>
    </div>
  </div>
</div>
