<div
  class="outer-container flex flex-col lg:flex-row gap-[30px]"
  style="padding-bottom: 30px"
>
  <div class="w-full">
    <img
      src="../../../assets/hero2.jpg"
      class="w-full"
      alt="details-imng"
      srcset=""
    />
    <div class="flex flex-col gap-[20px] mt-[30px] items-start">
      <div
        class="bg-yellow-300 w-[100px] px-[12px] py-[5px] rounded-md font-[500]"
      >
        Apartment
      </div>
      <div class="font-[700] text-[20px]">Satdobato, Kathmandu 17</div>
      <div class="w-full border-b-[1px] border-gray-400"></div>
      <div>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque
        doloremque nam consequuntur obcaecati architecto eos quaerat esse qui.
        Temporibus at ea in facere maxime, suscipit reprehenderit sit, non ullam
        ducimus architecto vitae fugit! Dolor quis explicabo saepe temporibus
        obcaecati iure.
      </div>
      <div>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque
        doloremque nam consequuntur obcaecati architecto eos quaerat esse qui.
        Temporibus at ea in facere maxime, suscipit reprehenderit sit, non ullam
        ducimus architecto vitae fugit! Dolor quis explicabo saepe temporibus
        obcaecati iure.
      </div>
      <div class="w-[40%] flex flex-col gap-[20px] mb-[30px]">
        <div
          class="bg-gray-100 p-[12px] px-[18px] flex flex-col gap-[6px] rounded-sm"
        >
          <div class="text-orange-600 font-bold">Best Useful Links ?</div>
          <hr />
          <div class="font-semibold text-gray-600">
            Get the Villa! Make the Dream Yours Now.
          </div>
          <div class="font-semibold text-gray-600">How does it work?</div>
          <div class="font-semibold text-gray-600">
            Why is AgeVilla the best?
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="h-[440px] flex flex-col shadow-sm shadow-gray-400 p-[30px] rounded-lg gap-[25px]"
    style="width: 363px !important"
  >
    <div class="flex gap-[25px] items-center">
      <img src="../../../../assets/icon1.png" alt="icon" />
      <div class="flex flex-col">
        <span class="font-semibold">250 m<sup>2</sup></span>
        <span class="font-semibold text-gray-400">Total Flat Space</span>
      </div>
    </div>
    <hr />
    <div class="flex gap-[25px] items-center">
      <img src="../../../../assets/icon2.png" alt="icon" />
      <div class="flex flex-col">
        <span class="font-semibold">Contract</span>
        <span class="font-semibold text-gray-400">Contract Ready</span>
      </div>
    </div>
    <hr />
    <div class="flex gap-[25px] items-center">
      <img src="../../../../assets/icon3.png" alt="icon" />
      <div class="flex flex-col">
        <span class="font-semibold">Payment</span>
        <span class="font-semibold text-gray-400">Payment Process</span>
      </div>
    </div>
    <hr />
    <div class="flex gap-[25px] items-center">
      <img src="../../../../assets/icon4.png" alt="icon" />
      <div class="flex flex-col">
        <span class="font-semibold">Safety</span>
        <span class="font-semibold text-gray-400">24/7 Under Control</span>
      </div>
    </div>
  </div>
</div>
<app-best-deals class=""></app-best-deals>
